

@import "import/layout";
@import "import/mixins";
@import "import/variables";
@page {
    size: 21cm 29.7cm;
    margin: 30mm 45mm 30mm 45mm;
        }
   
@media print {
    body{
        width: 21cm;
        height: 29.7cm;
        margin: 30mm 45mm 30mm 45mm; 
        
   } 
}

header{
   border-radius: 5px;
    .FL{
        width: 90px;
        height: 90px;
        border: thick  double royalblue;
        border-radius: 50%;
        margin: 20px auto 0 auto;
        text-align: center;
        font-size: 40px;
        padding:8px;
        @include flex;
        p{
            color: rgba(52,52,51, .8);
            font-weight: bolder;
            font-family :consolas,sans-serif;
            font-size:70px
        }
        
    }
    div{
        padding-bottom: 20px;
        h1{
            text-align: center;
            color: rgba(52,52,51, .8);
            margin:0;
            padding-bottom:15px;
        }
        p{  
            width: 90%;
            margin: 0 auto;
            text-align: center;
            color:darken(rgba(52,52,51, .9),10) ;
            line-height: 1.5rem;
        }
    }
}