@import "variables.scss";
body{
    height:297mm;
    width:210mm;
    max-width:80%;
    margin:5% auto;
    font-family: Century Gothic,consolas, sans-serif;
}
.container{
    header{
        grid-area: header;
        background: linear-gradient( #1f88f0,#208df1,#2395f3,#269df4,#39aff8);
      }
      aside{
          grid-area: aside;
          font-size: 1rem;
          background-color: lighten(#958f8fc7, 15);
          padding: 18px;
          border-radius: 5px;
      }
      main{
          grid-area: main;
          background-color: #ffff64;
      }
      footer{
          grid-area: footer;
          background-color: #8cffa0;
      }
display: grid;
grid-gap: 2%;
grid-template-columns: 30% auto ;
grid-auto-rows: minmax(150px, auto);
grid-template-areas: 
"header header header" 
    "aside main main" 
    "aside main main"
    "aside footer footer";

  
}